<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.www.dao.LinkDao">

	<resultMap type="Link" id="LinkResult">
		<result property="linkId" column="link_id"/>
		<result property="linkName" column="link_name"/>
		<result property="linkPath" column="link_url"/>
		<result property="ordinal" column="ordinal"/>
	</resultMap>
	
	<select id="getLinks" parameterType="java.util.Map" resultMap="LinkResult">
		select * from link ORDER by ordinal
	</select>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from link where link_id=#{linkId}
	</delete>

    <select id="list" parameterType="java.util.Map" resultMap="LinkResult">
        select * from link order by ordinal
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <select id="getTotal" parameterType="java.util.Map" resultType="java.lang.Long">
        select count(*) from link
    </select>

    <insert id="add" parameterType="Link">
        insert into link values(null,#{linkName},#{linkPath},#{ordinal});
    </insert>

    <update id="update" parameterType="Link">
        update link
        <set>
            <if test="linkName!=null and linkName!=''">
                link_name=#{linkName},
            </if>
            <if test="linkPath!=null and linkPath!=''">
                link_url=#{linkPath},
            </if>
            <if test="ordinal!=null">
                ordinal=#{ordinal},
            </if>
        </set>
        where link_id=#{linkId}
    </update>
</mapper> 